body {
    background-color: darkblue;
    color: green;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loginFlex {

}

.footerContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: auto;
}

.footerFlex {
    border-width: 0.5em;
    border-style: dashed;
    border-color: green;
    margin-right: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    flex: 0.1;
}